# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Django
*.sqlite3

# Environment variables
.env
.env.*
!.env.example

# VS Code
.vscode/

# Node
node_modules/

# Build files
dist/
build/

# OS files
.DS_Store
Thumbs.db